/* seletor por id */
#titulo{
  color: green;
  text-align: center;
}

/* seletor por tipo e id */
p#descricao{
  color: blue;
}

/* seletor por classe */
.promocao{
  text-align: center;
  background-color: lightgreen;
}

.nova{
  color: white;
}

p.final-pagina#rodape{
  background-color: lightgray;
  text-align: center;
}


.curso, .novo-curso, #contato{
  background-color: aliceblue;
}

.novo-curso{
  color: red;
}


/* .curso{
  background-color: aliceblue;
}

.novo-curso{
  background-color: aliceblue;
  color: red;
} */